# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List Data Science Libraries
- List Data Science Tools

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Matplotlib
3. ggplot
4. NumPy
5. Seaborn

| Data Science Tools |
 --------------------
| Jupyter Notebook |
| R Studio |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Md. Ashraful Karim Khan